/* ====================================
Navigation
==================================== */

.overlay-navigation {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.2);
  opacity: 0;
}

nav,
nav ul {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

nav ul {
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  list-style: none;
  flex-direction: row;
  li {

    display: none;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    /*
    flex-basis: calc(100% / 6);
    flex-shrink: 0;
    flex-grow: 0;
    */
    flex: 1;

    &:nth-of-type(1) {
      background-color: #000
    }

    &:nth-of-type(2) {
      background-color: #3C5A96
    }

    &:nth-of-type(3) {
      background-color: #2AA3EF
    }

    &:nth-of-type(4) {
      background-color: #1178B3
    }
    &:nth-of-type(5) {
      background-color: #333
    }
    &:nth-of-type(6) {
      background-color: rgba(16, 16, 16, 0.91)
    }

    a {
      position: relative;
      top: 46%;
      color: #fff;
      text-transform: uppercase;
      font-family: 'Work sans', sans-serif;
      font-weight: 300;
      letter-spacing: 4px;
      text-decoration: none;
      display: block;
      text-align: center;
      font-size: 0.9rem;
      &:before {
        content: '';
        width: 70%;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 150%;
        right: 15%;
        z-index: 100;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;

      }
      &:hover {
        &:before {
          visibility: visible;
          -webkit-transform: scaleX(1);
          -ms-transform: scaleX(1);
          transform: scaleX(1);
          opacity: 1;
        }
        &:after {
          -webkit-transform: translateY(15px);
          -ms-transform: translateY(15px);
          transform: translateY(15px);
          opacity: 1;
        }
      }
      &:after {
        content: attr(data-content);
        font-size: 0.7rem;
        -webkit-transition: all .2s linear;
        transition: all .2s linear;
        opacity: 0;
        position: absolute;
        z-index: 100;
        color: #fff;
        display: block;
        margin-right: auto;
        margin-left: auto;
        left: 0;
        right: 0;
        top: 150%;
        text-transform: none;
        font-family: 'Work sans', sans-serif;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 0;
      }
    }
  }
}