$hamburger-padding-x: 0px;
$hamburger-padding-y: 0px;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 9px;
$hamburger-layer-color: #fff;
$hamburger-layer-border-radius: 8px;
$hamburger-hover-opacity: 0.9;
$hamburger-active-layer-color: $hamburger-layer-color;
$hamburger-active-hover-opacity: $hamburger-hover-opacity;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false;
$hamburger-hover-filter: opacity(50%);
$hamburger-active-hover-filter: $hamburger-hover-filter;

// Remove or comment out the hamburger types you don’t want
// or need, so they get excluded from the compiled CSS.
$hamburger-types: (
        collapse,
);

@import "~hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger {
  position: absolute;
  right: 3.2rem;
  top: 3.2rem;
  display: block;
  cursor: pointer;
  padding: 0;
  z-index: 1050;
  span {
    color: white;
    position: relative;
    top: -6px;
    right: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 300;
    font-family: 'Work sans', sans-serif;
  }
  &.is-active span {
    display: none;
  }
}
