.home {

  .home-text {
    font-family: "Open Sans", sans-serif;
    /*
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 3.5rem;
    margin-top: -48.5px;
    */
    color: white;
    a {
      color: white;
      border-bottom: 2px solid #fff;
      font-size: 16px;
    }
    p {
      font-size: 0.8rem;
      max-width: 340px;
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
    }
  }
  a {
    color: #222;
    font-weight: 300;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    padding-bottom: 3px;

  }
}

