@import url('https://fonts.googleapis.com/css?family=EB+Garamond:800&display=swap');
.item {
	width: 100%;
	display: inline-block;

	font-family: 'EB Garamond', serif;
	font-size: 80pt;

	text-align: center;

	user-select: none;
}
