@import url(https://fonts.googleapis.com/css?family=Work+Sans:300|Open+Sans:400,400italic,300italic);

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll; /* has to be scroll, not auto */
}

.App, #root {
  height: 100%;
}

body {
  background-color: #000;
  margin: 0;
  height: 100%;
  font-family: "Open Sans", sans-serif;
}

.flex-grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 100%;
  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &:first-child {
      justify-content: flex-end;
    }
  }
}

.home {
  max-width: 40%;
  padding: 0 40px;
}

@media (max-width: 768px) {

}

h1 {
  font-size: inherit;
  font-weight: inherit;
}

/* ====================================
Medias
==================================== */

@media (max-width: 640px) {
  .hidden-sm {
    display: none !important;
  }
  .home {
    max-width: 100%;
  }
  .flex-grid {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    min-height: auto;
    display: block;
  }
  nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column !important;
    li {
      height: 20%;
      a {
        &:after {
          font-size: 0.6rem;
          bottom: -25px;
        }
        &:before {
          width: 25px;
        }
        &:hover {
          &:after {
            transform: translateY(0);
          }
        }
      }
    }
  }
  .hamburger {
    right: 2rem;
  }
  .galaxy {
    left: 0%;
  }
  .home-text {
    left: 2rem !important;
  }
}



